data/
model.pth
data_original/
data_remove_scribble/
data_r_s_in_depth_cleaning/
data_augmented_bright/
data_more_augmented/
venv/
data.zip
*.pdf
Coursera/
low quality documents/
document_classification/